/* Gradient background styling for navbar */
.navbar {
    background: linear-gradient(to right, black, grey);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo styling */
.logo {
    
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
 }
.dropdown-content a:hover {
            background-color: #ddd;
 }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: underline;
}

/* Login/Register links styling */
.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
}

.navbar-right a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    bottom: -4px; 
    transition: width 0.3s ease-in-out; 
    }

    .navbar-right a:hover::after {
        width: 100%; /* Expand the underline on hover */
    }
/* Responsive navbar for small screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-right a {
        margin: 5px 0;
    }
}
