.login-pagina {
    background-color: #222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginform-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #495057;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

loginbtn {
    width: 100%;
    padding: 10px;
    background: #222 !important;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

loginbtn:hover {
    background: red!important;
}
