.navbar {
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    top: 0;
    z-index: 1000;
}

/* Logo styling */
.logo {
    margin-right: 10px;
}
.home-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.home-icon {
    margin-right: 8px;
    font-size: 20px;
    position: relative;
    top: -2px;
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: underline;
}

.navbar-left {
    display: flex;
    align-items: center;
}

/* Styling voor links in de menu */
.menu a, .navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
}

    /* Onderstreping bij hover */
    .menu a:hover, .navbar-right a:hover {
        text-decoration: underline; /* Voeg onderstreping toe bij hover */
    }

    /* Smooth hover effect met ::after */
    .navbar-right a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: white;
        left: 0;
        bottom: -4px;
        transition: width 0.3s ease-in-out;
    }

    .navbar-right a:hover::after {
        width: 100%;
    }

.user-info {
    display: flex;
    flex-direction: column; /* Zorgt ervoor dat items gestapeld worden */
    align-items: center; /* Centreert de inhoud horizontaal */
    gap: 5px; /* Ruimte tussen de gebruikersnaam en de knop */
}

.gebruikersnaam {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center; /* Zorgt voor gecentreerde tekst */
}


/* Styling voor de logout-knop */
.button-logout {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: -5px;
}

    .button-logout:hover {
        background-color: white!important; /* Knop wordt wit bij hover */
        color: black; /* Tekst wordt zwart bij hover */
    }
