
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.voertuig-info {
    display: flex;
    flex-direction: column;  
    align-items: flex-start; 
}

.voertuig-info div {
    margin: 5px 0; 
}
